/*
* @Author: Thinkpad
* @Date:   2017-08-17 22:39:04
* @Last Modified by:   Thinkpad
* @Last Modified time: 2017-08-22 17:52:39
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
}
body{
	background: #fff;
}